<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="keywords" content="牛家人加盟,牛肉面加盟费,面店加盟条件,牛家人大碗牛肉面怎么样">
    <meta name="description"
          content="牛家人大碗牛肉面加盟品牌隶属于杭州味捷集团管理有限公司,专注于提供牛肉面加盟培训,分享面店加盟技巧等.牛家人主打一碗不会坨的面,是您创业开店的明智之选.牛家人大碗牛肉面加盟电话：400-897-0200.">
    <title>牛肉面加盟_面店加盟_牛家人大碗牛肉面加盟-牛家人官网</title>
    <link rel=icon type=image/x-icon href=/public/favicon.ico>
    <!-- 重置页面 -->
    <link rel="stylesheet" href="/css/base.css">
    <!-- 当页面的css -->
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/common.css">
    <!-- layui.css -->
    <link rel="stylesheet" href="/lib/layui/css/layui.css">
    <!-- swiper -->
    <link href="https://cdn.bootcss.com/Swiper/4.5.0/css/swiper.min.css" rel="stylesheet">
    <!-- axios -->
    <script src="https://cdn.bootcss.com/axios/0.19.0/axios.min.js"></script>
    <!-- vue -->
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://pv.sohu.com/cityjson?ie=utf-8"></script>
</head>
<body>
<div id="index">
    <!-- 导航 -->
    <header>
        <div class="w">
            <h1>
                <a href="/">
                    <img src="/images/common/logo.png" alt="牛家人大碗牛肉面">
                </a>
            </h1>

            <ul class="layui-nav tab-nav">
                <li class="layui-nav-item layui-this">
                    <a href="/">
                        <span>首页</span>
                        <span>HOME</span>
                    </a>
                </li>
                <li class="layui-nav-item">
                    <a href="/introduce.html">
                        <span>关于我们</span>
                        <span>ABOUT US</span>
                    </a>
                    <dl class="layui-nav-child"> <!-- 二级菜单 -->
                        <dd><a href="/introduce.html#company">公司介绍</a></dd>
                        <dd><a href="/introduce.html#brand">品牌实力</a></dd>
                        <dd><a href="/introduce.html#honor">企业荣誉</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="/product1.html">
                        <span>产品展示</span>
                        <span>PRODUCT</span>
                    </a>
                </li>
                <li class="layui-nav-item">
                    <a href="/join.html">
                        <span>招商加盟</span>
                        <span>PROMOTION</span>
                    </a>
                </li>
                <li class="layui-nav-item">
                    <a href="/new/list.html">
                        <span>新闻资讯</span>
                        <span>NEWS</span>
                    </a>
                </li>
                <li class="layui-nav-item">
                    <a href="/contact.html">
                        <span>联系我们</span>
                        <span>CONTACT</span>
                    </a>
                </li>
            </ul>
        </div>
    </header>

    <!-- 轮播图 -->
    <section class="swiper-container index-banner banner">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <a href="javascript:void(0);">
                    <img src="/images/index/banner01.jpg" alt="牛家人大碗牛肉面创业中国人">
                </a>
            </div>
            <div class="swiper-slide">
                <a href="javascript:void(0);">
                    <img src="/images/index/banner05.jpg" alt="牛家人大碗牛肉面">
                </a>
            </div>
            <div class="swiper-slide">
                <a href="javascript:void(0);">
                    <img src="/images/index/banner04.jpg" alt="牛家人大碗牛肉面">
                </a>
            </div>
        </div>
        <!-- 如果需要滚动条 -->
        <div class="swiper-scrollbar"></div>
    </section>

    <!-- 品牌介绍 -->
    <section class="introduce w">
        <h2></h2>

        <p>牛家人大碗牛肉面是味捷集团结合现有餐饮消费市场需求隆重推出的面食品牌，主打外卖+堂食模式。</p>
        <p>匠心坚守，只为一碗好面。开业期间双平台日销达1260单。</p>

        <div class="introduce-img">
            <img src="/images/index/introduce01.png" alt="" class="left-img">
            <div class="introduce-img-right">
                <img src="/images/index/introduce02.png" alt="">
                <div class="word">
                    <p> 在传承了陕西牛肉面的精髓上并结合现代化的制作方式，从面粉、水和盐等原配料的配比出发，进行大量探索，虏获消费者挑剔的胃。</p>
                </div>
            </div>
        </div>

    </section>

    <!-- 产品优势 -->
    <section class="advantage clearfix">
        <div class="w">
            <h2></h2>
            <section class="advantage-left fl">
                <h2>全国商圈火热预定中</h2>

                <div class="banner-box">
                    <div class="banner-title">
                        <a href="javascript:void(0);">全国分布</a>
                        <a href="javascript:void(0);">商圈分布</a>
                        <a href="javascript:void(0);">剩余商圈</a>
                    </div>
                    <!-- 滚动商圈 -->
                    <div class="swiper-container ta-banner">
                        <div class="swiper-wrapper" id="tab-nav">
                            <div class="swiper-slide swiper-no-swiping" v-for="(item,index) in tearData" :key="index">
                                <ul>
                                    <li class="">{{ item.name }}</li>
                                    <li class="">{{ item.all }}</li>
                                    <li class="">{{ item.surplus }}</li>
                                </ul>
                            </div>

                        </div>
                    </div>
                </div>

            </section>
            <section class="advantage-right fr">
                <div class="item">
                    <img src="/images/index/advantage_icon01.png" alt="">
                    <div>
                    <span>
                        <i>18</i>
                        <i>年</i>
                    </span>
                        <span>资深专业团队倾力打造</span>
                    </div>
                </div>
                <div class="item">
                    <img src="/images/index/advantage_icon02.png" alt="">
                    <div>
                    <span>
                        <i>12000</i>
                        <i>平</i>
                    </span>
                        <span>资深专业团队倾力打造</span>
                    </div>
                </div>
                <div class="item">
                    <img src="/images/index/advantage_icon03.png" alt="">
                    <div>
                    <span>
                        <i>20</i>
                        <i>平</i>
                    </span>
                        <span>资深专业团队倾力打造</span>
                    </div>
                </div>
            </section>
        </div>
    </section>

    <!-- 加盟优势 -->
    <section class="join">
        <div class="w">
            <h2></h2>
            <ul>
                <li v-for="item in joinList" :key="item.id">
                    <p>{{ item.title }}</p>
                    <p></p>
                    <p>{{ item.word }}</p>
                </li>
            </ul>
        </div>
    </section>

    <!-- 产品中心 -->
    <section class="product">
        <h2></h2>
        <div class="" style="width: 1154px;margin: 0 auto">
            <ul>
                <li class="list1">
                    <img src="/images/index/product01.png" alt="">
                    <div class="list-word">
                        <p>好味道</p>
                        <p></p>
                        <p>SMELLS GOOD.</p>
                    </div>
                    <img src="/images/index/product02.png" alt="">
                </li>
                <li class="list2">
                    <img src="/images/index/product03.png" alt="">
                    <div class="list-word">
                        <p>多客源</p>
                        <p></p>
                        <p>MULTI-SOURCE.</p>
                    </div>
                    <img src="/images/index/product04.png" alt="">
                </li>
                <li class="list1">
                    <img src="/images/index/product05.png" alt="">
                    <div class="list-word">
                        <p>好配方</p>
                        <p></p>
                        <p>GOOD RECIPE.</p>
                    </div>
                    <img src="/images/index/product06.png" alt="">
                </li>
            </ul>
        </div>
    </section>

    <!-- 新闻 -->
    <section class="news w">
        <h2></h2>
        <div class="news-box">
            <div class="news-box-left" th:each="each,iterStat : ${result}" th:if="${iterStat.first}">
                <a th:href="@{'/new/'+${each.uidpk}+'.html'}">
                    <img th:src="${each.articleThumbnailBean.thumbnailurl}" alt="">
                    <div class="news-word">
                        <p th:text="${each.title}"></p>
                        <p th:text="${each.description}">{</p>
                    </div>
                </a>
            </div>
            <div class="news-box-right">
                <ul>
                    <li th:each="each,iterStat : ${result}" th:if="${ iterStat.index lt 6 && !iterStat.first}">
                        <a th:href="@{'/new/'+${each.uidpk}+'.html'}">
                            <div class="item-left">
                                <p class="day" th:text="${#dates.format(each.createtime,'dd ')}"></p>
                                <p class="date" th:text="${#dates.format(each.createtime,'yyyy-MM')}"></p>
                            </div>
                            <div class="item-right">
                                <h2 th:text="${each.title}"></h2>
                                <p th:text="${each.description}"></p>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </section>

    <footer>
        <div class="w">
            <h2 class="footer-logo">
                <a href="/">
                    <img src="/images/common/footer_logo.png" alt="">
                </a>
            </h2>

            <div class="footer-nav">
                <h2 class="footer-title">网址导航</h2>
                <div class="line"></div>
                <ul>
                    <li>
                        <a href="/">首页</a>
                    </li>
                    <li>
                        <a href="/introduce.html">
                            关于我们
                        </a>
                    </li>
                    <li>
                        <a href="/product1.html">
                            产品展示
                        </a>
                    </li>
                    <li>
                        <a href="/join.html">
                            招商加盟
                        </a>
                    </li>
                    <li>
                        <a href="/new/list.html">
                            新闻资讯
                        </a>
                    </li>
                    <li>
                        <a href="/contact.html">
                            联系我们
                        </a>
                    </li>
                </ul>
            </div>


            <div class="footer-nav">
                <h2 class="footer-title">网站地图</h2>
                <div class="line"></div>
                <ul>
                    <li>
                        <a target="_blank" href="/sitemap.xml">xml地图</a>
                    </li>
                    <li>
                        <a target="_blank" href="/sitemap.txt">
                            txt地图
                        </a>
                    </li>
                    <li>
                        <a target="_blank" href="/sitemap.html">
                            站点地图
                        </a>
                    </li>
                </ul>
            </div>


            <div class="footer-contact">
                <h2 class="footer-title">联系方式</h2>
                <div class="line"></div>
                <div class="phone contact-box">
                    <img src="/images/common/phone.png" alt="">
                    <p>
                        <span>客服热线</span>
                        <span>400-897-0200</span>
                    </p>
                </div>
                <div class="address contact-box">
                    <img src="/images/common/address.png" alt="">
                    <p>
                        <span>公司地址</span>
                        <span>浙江省杭州市滨江区龙威大厦20楼</span>
                    </p>
                </div>
                <div class="address contact-box">
                    <img src="" alt="">
                    <p>
                        <span>投资有风险，加盟需谨慎！</span>
                        <span>杭州味捷品牌管理集团有限公司</span>
                        <span><a rel="nofollow" target="_blank" href="http://beian.miit.gov.cn/"
                                 style="color: #c9c9c9;margin-top: 10px;">备案号：浙ICP备17052793号</a></span>
                    </p>
                </div>
            </div>

            <div class="footer-qrcode">
                <h2 class="footer-title">联系方式</h2>
                <div class="line"></div>
                <img src="/images/common/footer_qrcode.png" alt="">
            </div>

        </div>
    </footer>
</div>

<script src="/js/index/dataFormat.js"></script>
<script>
    var app = new Vue({
        el: '#index',
        data() {
            return {
                tearData: [
                    {name: "四川", all: 200, surplus: 48},
                    {name: "浙江", all: 200, surplus: 25},
                    {name: "江苏", all: 200, surplus: 32},
                    {name: "广东", all: 300, surplus: 91},
                    {name: "福建", all: 200, surplus: 76},
                    {name: "山东", all: 200, surplus: 64},
                    {name: "安徽", all: 150, surplus: 49},
                    {name: "江西", all: 100, surplus: 51},
                    {name: "广西", all: 100, surplus: 35},
                    {name: "海南", all: 80, surplus: 29},
                    {name: "河南", all: 150, surplus: 41},
                    {name: "湖南", all: 150, surplus: 69},

                    {name: "湖北", all: 150, surplus: 42},
                    {name: "河北", all: 150, surplus: 61},
                    {name: "内蒙古", all: 80, surplus: 52},
                    {name: "宁夏", all: 50, surplus: 28},
                    {name: "青海", all: 50, surplus: 41},
                    {name: "陕西", all: 150, surplus: 34},
                    {name: "甘肃", all: 50, surplus: 33},
                    {name: "新疆", all: 40, surplus: 25},
                    {name: "贵州", all: 150, surplus: 58},
                    {name: "云南", all: 150, surplus: 41},
                    {name: "重庆", all: 30, surplus: 5},
                    {name: "西藏", all: 50, surplus: 30},
                    {name: "辽宁", all: 80, surplus: 27},

                    {name: "吉林", all: 50, surplus: 15},
                    {name: "黑龙江", all: 50, surplus: 20},
                    {name: "上海", all: 40, surplus: 15},
                ],
                joinList: [
                    {id: 1, title: "零经验开店", word: "总部系统培训，快速上手成功开店"},
                    {id: 2, title: "全托管运营", word: "300人团队，助力开店高效，提升订单量"},
                    {id: 3, title: "双线创收", word: "外卖+堂食多种经营模式任您挑选"},
                    {id: 4, title: "安全保障", word: "数十万等级无菌车间生产，保证食品安全"},
                    {id: 5, title: "各平台宣传", word: "与各大媒体平台强强联合，提高曝光"},
                    {id: 6, title: "系统培训", word: "美团、饿了么讲师团队系统培训"},
                    {id: 7, title: "冷链物流", word: "完整的供应链体系，48小时送达"},
                    {id: 8, title: "专业售后", word: "专业客服团队，全心全意解决售后问题"},
                ],
                newsList: [],
            }
        }
    })
</script>

<!-- jq -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<!-- swiper -->
<script src="https://cdn.bootcss.com/Swiper/4.5.0/js/swiper.min.js"></script>
<!-- layui.js -->
<script src="/lib/layui/layui.js"></script>
<!-- monent -->
<script src="/lib/moment/moment.min.js"></script>
<script src="/js/index/index.js"></script>
<script src="/js/index/tear.js"></script>
<script src="/js/pages/forbid.js"></script>
<script src="/js/pages/index.js"></script>
</body>
</html>
<!--百度统计-->
<script>
    var _hmt = _hmt || [];
    (function () {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?01695eb36c1aec4f1d8e98438eb92592";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
</script>
<!--商务通-->
<script language=javascript>
    var LiveReceptionCode_chatexplain_online = '';
    LiveReceptionCode_chatexplain_online = escape(LiveReceptionCode_chatexplain_online);
</script>
<script language="javascript" src="http://pyt.zoosnet.net/JS/LsJS.aspx?siteid=PYT62454332&float=1&lng=cn"></script>



