<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" type="image/x-icon" href="/public/favicon.ico">
    <meta name="keywords" th:content="${newsDetails.keyword}">
    <meta name="description" th:content="${newsDetails.description}">
    <h1>
        <title th:text="${newsDetails.title}"></title>
    </h1>

    <!-- 重置页面 -->
    <link rel="stylesheet" href="/css/base.css">
    <!-- 当页面的css -->
    <link rel="stylesheet" href="/css/newsInfo.css">
    <link rel="stylesheet" href="/css/common.css">
    <!-- layui.css -->
    <link rel="stylesheet" href="/lib/layui/css/layui.css">
    <!-- swiper -->
    <link href="/css/swiper.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/lib/pagination/pagination.css">

    <!-- axios -->
    <script src="/js/axios.min.js"></script>
    <!-- monent -->
    <script src="/lib/moment/moment.min.js"></script>
    <!-- vue -->
    <script src="/js/vue.js"></script>
    <script src="/js/index.js"></script>
    <script src="/js/cityjson.js"></script>
</head>
<body>

<div id="newsInfo">

    <!-- 导航 -->
    <header>
        <div class="w">
            <h2>
                <a href="/">
                    <img src="/images/common/logo.png" alt="">
                </a>
            </h2>

            <ul class="layui-nav tab-nav" lay-filter="">
                <li class="layui-nav-item">
                    <a href="/">
                        <span>首页</span>
                        <span>HOME</span>
                    </a>
                </li>
                <li class="layui-nav-item">
                    <a href="/introduce.html">
                        <span>关于我们</span>
                        <span>ABOUT US</span>
                    </a>
                    <dl class="layui-nav-child"> <!-- 二级菜单 -->
                        <dd><a href="./introduce.html">公司介绍</a></dd>
                        <dd><a href="./introduce.html">品牌实力</a></dd>
                        <dd><a href="./introduce.html">企业荣誉</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="/product1.html">
                        <span>产品展示</span>
                        <span>PRODUCT</span>
                    </a>
                </li>
                <li class="layui-nav-item">
                    <a href="/join.html">
                        <span>招商加盟</span>
                        <span>PROMOTION</span>
                    </a>
                </li>
                <li class="layui-nav-item layui-this">
                    <a href="/new/list.html">
                        <span>新闻资讯</span>
                        <span>NEWS</span>
                    </a>
                </li>
                <li class="layui-nav-item">
                    <a href="/contact.html">
                        <span>联系我们</span>
                        <span>CONTACT</span>
                    </a>
                </li>
            </ul>
        </div>
    </header>

    <div class="banner"></div>

    <!-- 面包屑 -->
    <div class="bread">
        <div class="w">
            <a th:href="@{/new/list.html}">新闻动态</a>
            <span>&nbsp / &nbsp</span>
            <a href="#" th:text="${newsDetails.title}"></a>
            <span>&nbsp / &nbsp</span>
            <a href="javascript:void(0);">新闻详情</a>
        </div>
    </div>

    <main>
        <div class="w clearfix">
            <article class="fl">
                <h2 v-cloak th:text="${newsDetails.title}"></h2>
                <p class="info">
                    <span v-cloak>发布时间：[[${#dates.format(newsDetails.createtime, 'yyyy-MM-dd HH:mm')}]]</span>
                    <span>来源：[[${ newsDetails.source }]]</span>
                    <span>点击：[[${ newsDetails.pageview }]]</span>
                </p>
                <hr>
                <div class="cont-box" th:utext="${newsDetails.content}">

                </div>
            </article>
            <section class="main-right fr">
                <div class="form">
                    <h2>免费咨询大碗牛肉面项目</h2>
                    <div class="sel">
                        <span>
                            <img src="/images/newsInfo/icon01.png" alt="">
                            <i>开店费用</i>
                        </span>
                        <span>
                            <img src="/images/newsInfo/icon02.png" alt="">
                            <i>加盟资料</i>
                        </span>
                    </div>
                    <div class="form-box">
                        <el-form :model="userForm" status-icon :rules="rules" ref="userForm" label-width="0"
                                 class="demo-ruleForm">

                            <el-form-item prop="userName">
                                <el-input v-model="userForm.userName" placeholder="请输入姓名"></el-input>
                            </el-form-item>
                            </el-form-item>
                            <el-form-item prop="userPhone">
                                <el-input v-model="userForm.userPhone" placeholder="请输入联系方式"></el-input>
                            </el-form-item>

                            <el-form-item label="" prop="userAddress">
                                <el-input type="textarea" v-model="userForm.userAddress" placeholder="请输入留言"></el-input>
                            </el-form-item>

                            <el-form-item>
                                <el-button type="primary" @click="submitForm('userForm')">提交您的留言</el-button>
                            </el-form-item>

                        </el-form>
                    </div>
                </div>
            </section>
        </div>
    </main>


    <footer>
        <div class="w">
            <h2 class="footer-logo">
                <a href="/">
                    <img src="/images/common/footer_logo.png" alt="">
                </a>
            </h2>

            <div class="footer-nav">
                <h2 class="footer-title">网址导航</h2>
                <div class="line"></div>
                <ul>
                    <li>
                        <a href="/">首页</a>
                    </li>
                    <li>
                        <a href="/introduce.html">
                            关于我们
                        </a>
                    </li>
                    <li>
                        <a href="/product1.html">
                            产品展示
                        </a>
                    </li>
                    <li>
                        <a href="/join.html">
                            招商加盟
                        </a>
                    </li>
                    <li>
                        <a href="/new/list.html">
                            新闻资讯
                        </a>
                    </li>
                    <li>
                        <a href="/contact.html">
                            联系我们
                        </a>
                    </li>
                </ul>
            </div>


            <div class="footer-nav">
                <h2 class="footer-title">网站地图</h2>
                <div class="line"></div>
                <ul>
                    <li>
                        <a target="_blank" href="/sitemap.xml">xml地图</a>
                    </li>
                    <li>
                        <a target="_blank" href="/sitemap.txt">
                            txt地图
                        </a>
                    </li>
                    <li>
                        <a target="_blank" href="/sitemap.html">
                            站点地图
                        </a>
                    </li>
                </ul>
            </div>


            <div class="footer-contact">
                <h2 class="footer-title">联系方式</h2>
                <div class="line"></div>
                <div class="phone contact-box">
                    <img src="/images/common/phone.png" alt="">
                    <p>
                        <span>客服热线: 400-897-0200</span>
                    </p>
                </div>
                <div class="address contact-box">
                    <img src="/images/common/address.png" alt="">
                    <p>
                        <span>公司地址: 浙江省杭州市滨江区龙威大厦20楼</span>
                    </p>
                </div>
                <div class="address contact-box">
                    <img src="" alt="">
                    <p>
                        <span>投资有风险，加盟需谨慎！</span>
                        <span>牛家人大碗牛肉面版权所有</span>
                        <span><a rel="nofollow" target="_blank" href="http://beian.miit.gov.cn/"
                                 style="color: #c9c9c9;margin-top: 10px;">备案号：浙ICP备17052793号</a></span>
                    </p>
                </div>
            </div>

            <div class="footer-qrcode">
                <h2 class="footer-title">联系方式</h2>
                <div class="line"></div>
                <img src="/images/common/footer_qrcode.png" alt="">
            </div>

        </div>
    </footer>
</div>


<script src="/js/index/dataFormat.js"></script>
<script>
    var app = new Vue({
        el: "#newsInfo",
        data() {
            // 自定义验证号码
            var phoneCheck = (rule, value, callback) => {
                if (!value) {
                    return callback(new Error('手机号码不能为空'));
                } else if (!(/^1[3456789]\d{9}$/.test(value))) {
                    return callback(new Error('手机号码输入有误'));
                } else {
                    callback()
                }
            };

            return {
                id: parseInt(window.location.href.split("=")[1]),
                type: parseInt(sessionStorage.getItem("type")) || 0,
                // 当前新闻
                newsInfo: {},
                // 随机新闻
                randomNews: {},
                // 表单信息
                userForm: {
                    userName: '',
                    userPhone: '',
                    userAddress: ''
                },
                // 表单验证
                rules: {
                    userName: [
                        {required: true, message: '请输入姓名', trigger: 'blur'},
                        {min: 1, max: 5, message: '长度在 3 到 5 个字符', trigger: 'blur'}
                    ],
                    userPhone: [
                        {validator: phoneCheck, trigger: 'blur', required: true}
                    ],
                },
                // 当前url
                nowUrl: window.location.href,
                // 品牌 牛家人 17
                description: 17,
                // 设备标志 ( pc )
                userEqt: 0,

                userIp: returnCitySN["cip"]
            }
        },
        methods: {
            // 提交表单
            submitForm(formName) {
                this.$refs[formName].validate((valid) => {
                    if (!valid) {
                        this.$message({
                            message: '请输入正确的信息后重试',
                            type: 'error'
                        });
                        return false
                    } else {
                        // this.axios.post(this.api.nxdFromApi + "?tell=" + this.userForm.userPhone + "&category=" + this.description + "&ip=" + this.userIp + "&description=" + this.userForm.address + "&hasComputer=" + this.userEqt + "&name=" + this.userForm.username + "&url=" + this.nowUrl)

                        var params = new URLSearchParams()
                        params.append('district', this.userForm.userAddress)
                        params.append('url', this.nowUrl)
                        params.append('ip', this.userIp)
                        params.append('category', this.description)
                        params.append('hasComputer', this.userEqt)
                        params.append('uname', this.userForm.userName)
                        params.append('phone', this.userForm.userPhone)

                        axios.post("http://manage.4007123123.com/leave/insert.do", params)
                            .then(res => {
                                console.log(res.data.message);
                                if (res.data.message === 200) {
                                    this.$message({
                                        message: '提交成功，我们会尽快联系您',
                                        type: 'success',
                                    });
                                    Object.keys(this.userForm).forEach(key => this.userForm[key] = "")
                                } else {
                                    const h = this.$createElement;
                                    this.$notify.error({
                                        title: '',
                                        position: 'top-right',
                                        duration: 2000,
                                        message: h('i', {style: 'color: red'}, '错误，请重试')
                                    });
                                }
                            })
                    }
                })
            },
        },
        filters: {
            // 超过字数变成省略号
            slh: function (value, wordLimit) {
                // var str = $(textName).html()
                // console.log(str)
                // var subStr = str.substring(0, wordLimit)
                // // console.log(subStr)
                // $(textName).html(subStr + (str.length > wordLimit ? "..." : ""))
                let subStr = value.substring(0, wordLimit)
                let newSubStr = subStr + (value.length > wordLimit ? "..." : "")
                return newSubStr
            },
            // 格式化时间
            getTime: function (dataStr) {
                return timestampToTime(dataStr);
            },
        },
    })
</script>

<!-- jq -->
<script src="/js/jquery-3.4.1.min.js"></script>
<!-- layui.js -->
<script src="/lib/layui/layui.js"></script>
<!-- swiper -->
<script src="/js/swiper.min.js"></script>
<script src="/js/pages/forbid.js"></script>
</body>
</html>
<!--百度统计-->
<script>
    var _hmt = _hmt || [];
    (function () {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?01695eb36c1aec4f1d8e98438eb92592";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
</script>
<!--商务通-->
<script language=javascript>
    var LiveReceptionCode_chatexplain_online = '';
    LiveReceptionCode_chatexplain_online = escape(LiveReceptionCode_chatexplain_online);
</script>
<script language="javascript" src="http://pyt.zoosnet.net/JS/LsJS.aspx?siteid=PYT62454332&float=1&lng=cn"></script>



