<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="keywords" content="味捷餐饮旗下品牌。牛家人大碗牛肉面，新鲜不过夜！">
    <meta name="description" content="味捷餐饮旗下品牌。牛家人大碗牛肉面，新鲜不过夜！">
    <title>新闻资讯</title>
    <link rel=icon type=image/x-icon href=/public/favicon.ico>
    <!-- 重置页面 -->
    <link rel="stylesheet" href="/css/base.css">
    <!-- 当页面的css -->
    <link rel="stylesheet" href="/css/news.css">
    <link rel="stylesheet" href="/css/common.css">
    <!-- layui.css -->
    <link rel="stylesheet" href="/lib/layui/css/layui.css">
    <!-- swiper -->
    <link href="https://cdn.bootcss.com/Swiper/4.5.0/css/swiper.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/lib/pagination/pagination.css">
    <!-- axios -->
    <script src="https://cdn.bootcss.com/axios/0.19.0/axios.min.js"></script>
    <!-- vue -->
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://cdn.bootcss.com/element-ui/2.12.0/index.js"></script>
    <script src="https://pv.sohu.com/cityjson?ie=utf-8"></script>
</head>
<body>

<div id="news">
    <!-- 导航 -->
    <header>
        <div class="w">
            <h1 class="">
                <a href="/">
                    <img src="/images/common/logo.png" alt="">
                </a>
            </h1>

            <ul class="layui-nav tab-nav" lay-filter="">
                <li class="layui-nav-item">
                    <a href="/">
                        <span>首页</span>
                        <span>HOME</span>
                    </a>
                </li>
                <li class="layui-nav-item">
                    <a href="/introduce.html">
                        <span>关于我们</span>
                        <span>ABOUT US</span>
                    </a>
                    <dl class="layui-nav-child"> <!-- 二级菜单 -->
                        <dd><a href="/introduce.html#company">公司介绍</a></dd>
                        <dd><a href="/introduce.html#brand">品牌实力</a></dd>
                        <dd><a href="/introduce.html#honor">企业荣誉</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="/product1.html">
                        <span>产品展示</span>
                        <span>PRODUCT</span>
                    </a>
                </li>
                <li class="layui-nav-item">
                    <a href="/join.html">
                        <span>招商加盟</span>
                        <span>PROMOTION</span>
                    </a>
                </li>
                <li class="layui-nav-item layui-this">
                    <a href="/new/list.html">
                        <span>新闻资讯</span>
                        <span>NEWS</span>
                    </a>
                </li>
                <li class="layui-nav-item">
                    <a href="/contact.html">
                        <span>联系我们</span>
                        <span>CONTACT</span>
                    </a>
                </li>
            </ul>
        </div>
    </header>

    <div class="banner">
        <img src="/images/news/banner01.png" alt="">
    </div>


    <!-- 面包屑 -->
    <div class="bread">
        <div class="w">
            <span>当前位置：</span>
            <ul ref="newsNav">
                <li data-type="0" @click="addCurrent($event);getNews(20)" class="current">牛家人资讯</li>
            </ul>
        </div>
    </div>
    <!-- 主体 -->
    <main>
        <div class="w clearfix">
            <h2></h2>
            <div class="news-left fl">
                <ul class="newsList">
                    <li th:each="each : ${userDTOList}">
                        <a th:href="@{'/new/'+${each.uidpk}+'.html'}">
                            <img th:src="@{(${each.articleThumbnailBean.thumbnailurl})}"
                                 src="each.articleThumbnailBean.thumbnailurl" alt="">
                            <div class="news-word">
                                <h3 th:text="${each.title}"></h3>
                                <p th:text="${each.description}"></p>
                                <p th:text="${#dates.format(each.createtime, 'yyyy-MM-dd HH:mm')}"></p>
                            </div>
                        </a>
                    </li>
                </ul>

            </div>

            <div class="gy-gd">
                <h4><a th:if="${pageInfo.hasPreviousPage()} == true"
                       th:href="@{/new/list.html(currentPage=${pageInfo.getPrePage()})}"
                       class=" wow fadeInUp">上一页</a>
                    <a th:href="@{'/new/list.html?currentPage=' + ${i}}"
                       th:each="i :${#numbers.sequence(pageInfo.firstPage, pageInfo.lastPage)}"
                       th:text="${i}"
                       th:class="${pageInfo.getPageNumber() == i}? 'xzdsz wow fadeInUp' :' wow fadeInUp' " class="wow fadeInUp"></a>

                    <a th:if="${pageInfo.hasNextPage()} == true"
                       th:href="@{/new/list.html(currentPage=${pageInfo.getNextPage()})}"
                       class="wow fadeInUp">下一页</a>
                    <a th:href="@{/new/list.html(currentPage=${pageInfo.getLastPage()})}" class="wow fadeInUp" >尾页</a>
                </h4>
            </div>

        </div>
</div>

</main>


<footer>
    <div class="w">
        <h2 class="footer-logo">
            <a href="/">
                <img src="/images/common/footer_logo.png" alt="">
            </a>
        </h2>

        <div class="footer-nav">
            <h2 class="footer-title">网址导航</h2>
            <div class="line"></div>
            <ul>
                <li>
                    <a href="/">首页</a>
                </li>
                <li>
                    <a href="/introduce.html">
                        关于我们
                    </a>
                </li>
                <li>
                    <a href="/product1.html">
                        产品展示
                    </a>
                </li>
                <li>
                    <a href="/join.html">
                        招商加盟
                    </a>
                </li>
                <li>
                    <a href="news.html">
                        新闻资讯
                    </a>
                </li>
                <li>
                    <a href="/contact.html">
                        联系我们
                    </a>
                </li>
            </ul>
        </div>

        <div class="footer-contact">
            <h2 class="footer-title">联系方式</h2>
            <div class="line"></div>
            <div class="phone contact-box">
                <img src="/images/common/phone.png" alt="">
                <p>
                    <span>客服热线</span>
                    <span>400-897-0200</span>
                </p>
            </div>
            <div class="address contact-box">
                <img src="/images/common/address.png" alt="">
                <p>
                    <span>公司地址</span>
                    <span>浙江省杭州市滨江区龙威大厦20楼</span>
                </p>
            </div>
            <div class="address contact-box">
                <img src="" alt="">
                <p>
                    <span>投资有风险，加盟需谨慎！</span>
                    <span>杭州味捷品牌管理集团有限公司</span>
                    <span><a rel="nofollow" target="_blank" href="http://beian.miit.gov.cn/"
                             style="color: #c9c9c9;margin-top: 10px;">备案号：浙ICP备17052793号</a></span>
                </p>
            </div>
        </div>

        <div class="footer-qrcode">
            <h2 class="footer-title">联系方式</h2>
            <div class="line"></div>
            <img src="/images/common/footer_qrcode.png" alt="牛家人大碗牛肉面二维码">
        </div>

    </div>
</footer>
</div>


<!-- jq -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<!-- layui.js -->
<script src="/lib/layui/layui.js"></script>
<!-- monent -->
<script src="/lib/moment/moment.min.js"></script>
<!-- swiper -->
<script src="https://cdn.bootcss.com/Swiper/4.5.0/js/swiper.min.js"></script>
<script src="/js/index/index.js"></script>
<script src="/js/pages/forbid.js"></script>


</body>
</html>

<!--百度统计-->
<script>
    var _hmt = _hmt || [];
    (function () {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?01695eb36c1aec4f1d8e98438eb92592";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
</script>
<!--商务通-->
<script language=javascript>
    var LiveReceptionCode_chatexplain_online = '';
    LiveReceptionCode_chatexplain_online = escape(LiveReceptionCode_chatexplain_online);
</script>
<script language="javascript" src="http://pyt.zoosnet.net/JS/LsJS.aspx?siteid=PYT62454332&float=1&lng=cn"></script>


