<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>牛家人大碗牛肉面加盟官网</title>
    <!-- layui.css -->
    <link rel="stylesheet" href="lib/layui/css/layui.css">
    <!-- swiper -->
    <link href="https://cdn.bootcss.com/Swiper/4.5.0/css/swiper.min.css" rel="stylesheet">
    <link rel="stylesheet" href="./lib/pagination/pagination.css">
    <link rel="stylesheet" href="./css/njr.css">
    <!-- axios -->
    <script src="https://cdn.bootcss.com/axios/0.19.0/axios.min.js"></script>
    <!-- monent -->
    <script src="./lib/moment/moment.min.js"></script>
    <!-- vue -->
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://cdn.bootcss.com/element-ui/2.12.0/index.js"></script>
    <script src="https://pv.sohu.com/cityjson?ie=utf-8"></script>
    <style>


    </style>
</head>
<body>
<div id="newsInfo">
    <div id="nxd-home">
        <main class="w" style="padding-bottom: 100px;">
            <img src="/images/njr/n_01.b7904a51.jpg" alt="">
            <img src="/images/njr/n_02.96acf439.jpg" alt="">
            <img src="/images/njr/bannerImages.png" alt="">
            <img src="/images/njr/n_03.d0aff8b5.jpg" alt="">
            <img src="/images/njr/n_04.df0f31ef.jpg" alt="">
            <img src="/images/njr/n_05.034e4e97.jpg" alt="">
            <p style="text-align: center; margin-bottom: 10px; margin-top: 10px;">客服热线 400-867-0200</p>
            <p style="text-align: center; margin-bottom: 10px; margin-top: 10px;">公司地址 浙江省杭州市滨江区龙威大厦20楼</p>
            <p style="text-align: center; margin-bottom: 10px; margin-top: 10px;">Copyright 2017-2019 杭州味捷品牌管理集团有限公司版权所有</p>
            <p style="text-align: center; margin-bottom: 10px;">杭州味捷品牌管理集团有限公司</p>
        </main>

    </div>


    <div class="floating clearfix showHeight">
        <img src="/images/njr/left_img.5b073d49.png" alt="">
        <div id="user-form" class="clearfix">

            <el-form :model="userForm" status-icon :rules="rules" ref="userForm" label-width="0" class="el-form user-form el-form--inline">
                            <el-form-item prop="userName">
                                <el-input v-model="userForm.userName" placeholder="请输入姓名"></el-input>
                            </el-form-item>


                            <el-form-item prop="userPhone">
                                <el-input v-model="userForm.userPhone" placeholder="请输入联系方式"></el-input>
                            </el-form-item>

                            <el-form-item label="" prop="userAddress">
                                <el-input type="textarea" v-model="userForm.userAddress" placeholder="请输入留言"></el-input>
                            </el-form-item>

                            <el-form-item>
                                <el-button type="primary" @click="submitForm('userForm')">立即留言</el-button>
                            </el-form-item>

            </el-form>


        </div>
    </div>



</div>

<script language="javascript" src="http://pyt.zoosnet.net/JS/LsJS.aspx?siteid=PYT62454332&float=1&lng=cn"></script>
<script>
    var _hmt = _hmt || [];
    (function() {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?45e3fad2de228e25e4a789dd90f811bf";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();

</script>

    <script>
        var app = new Vue({
            el: "#newsInfo",
            data() {
                // 自定义验证号码
                var phoneCheck = (rule, value, callback) => {
                    if (!value) {
                        return callback(new Error('手机号码不能为空'));
                    } else if (!(/^1[3456789]\d{9}$/.test(value))) {
                        return callback(new Error('手机号码输入有误'));
                    } else {
                        callback()
                    }
                };

                return {
                    id: parseInt(window.location.href.split("=")[1]),
                    type: parseInt(sessionStorage.getItem("type")) || 0,
                    // 当前新闻
                    newsInfo: {},
                    // 随机新闻
                    randomNews: {},
                    // 表单信息
                    userForm: {
                        userName: '',
                        userPhone: '',
                        userAddress: ''
                    },
                    // 表单验证
                    rules: {
                        userName: [
                            {required: true, message: '请输入姓名', trigger: 'blur'},
                            {min: 1, max: 5, message: '长度在 3 到 5 个字符', trigger: 'blur'}
                        ],
                        userPhone: [
                            {validator: phoneCheck, trigger: 'blur', required: true}
                        ],
                    },
                    // 当前url
                    nowUrl: window.location.href,
                    // 品牌 牛家人 17
                    description: 17,
                    // 设备标志 ( pc )
                    userEqt: 0,

                    userIp: returnCitySN["cip"]
                }
            },
            methods: {
        // 提交表单
        submitForm(formName) {
            this.$refs[formName].validate((valid) => {
                if (!valid) {
                this.$message({
                    message: '请输入正确的信息后重试',
                    type: 'error'
                });
                return false
            } else {
                // this.axios.post(this.api.nxdFromApi + "?tell=" + this.userForm.userPhone + "&category=" + this.description + "&ip=" + this.userIp + "&description=" + this.userForm.address + "&hasComputer=" + this.userEqt + "&name=" + this.userForm.username + "&url=" + this.nowUrl)

                var params = new URLSearchParams()
                params.append('district', this.userForm.userAddress)
                params.append('url', this.nowUrl)
                params.append('ip', this.userIp)
                params.append('category', this.description)
                params.append('hasComputer', this.userEqt)
                params.append('uname', this.userForm.userName)
                params.append('phone', this.userForm.userPhone)

                axios.post("http://manage.4007123123.com/leave/insert.do",params)
                    .then(res => {
                    console.log(res.data.message);
                if (res.data.message === 200) {
                    this.$message({
                        message: '提交成功，我们会尽快联系您',
                        type: 'success',
                    });
                    Object.keys(this.userForm).forEach(key => this.userForm[key] = "")
                } else {
                    const h = this.$createElement;
                    this.$notify.error({
                        title: '',
                        position: 'top-right',
                        duration: 2000,
                        message: h('i', {style: 'color: red'}, '错误，请重试')
                    });
                }
            })
            }
        })
        },
        },
        filters: {
            // 超过字数变成省略号
            slh: function (value, wordLimit) {
                // var str = $(textName).html()
                // console.log(str)
                // var subStr = str.substring(0, wordLimit)
                // // console.log(subStr)
                // $(textName).html(subStr + (str.length > wordLimit ? "..." : ""))
                let subStr = value.substring(0, wordLimit)
                let newSubStr = subStr + (value.length > wordLimit ? "..." : "")
                return newSubStr
            },
            // 格式化时间
            getTime: function (dataStr, pattern = "YYYY-MM-DD hh:mm:ss") {
                return moment(dataStr).format(pattern);
            },
        },
        })
    </script>

</body>
</html>